body {
    overflow: hidden;
}

video#inazumaEP {
    position:fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: -1;
}

div#buttonWrapper {
    position: fixed;
    top: 3vw;
    left: 14vw;
    z-index: 2;
}

div#buttonWrapper img{
    width:70vw;
}

div#buttonInstruct img{
    position: absolute;
    width: 35vw;
    padding-top: 30vw;
    padding-left: 30.5vw;
}
