@font-face{font-family: Cream; 
    src: url(../fonts/cream-DEMO.otf);
    src: url(../fonts/cream-DEMO.ttf);
}

@font-face{font-family:LocalBrewerySans;
    src: url(../fonts/LocalBrewerySans.otf);
    src: url(../fonts/LocalBrewerySans.ttf);
}

@font-face{font-family:Cabriole;
    src: url(../fonts/CabrioleDemoBold.ttf);
    src: url(../fonts/CabrioleDemoBoldItalic.ttf);
    src: url(../fonts/CabrioleDemoCondensed.ttf);
    src: url(../fonts/CabrioleDemoItalic.ttf);
    src: url(../fonts/CabrioleDemoLight.ttf);
    src: url(../fonts/CabrioleDemoLightItalic.ttf);
    src: url(../fonts/CabrioleDemoRegular.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/alt-bg.png");
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

div#navibar {
    background-image: url("../media/navibar-design.png");
    background-size:cover;
    display: flex;
    gap:4vw;
    justify-content:center;
    width: 100vw;
    min-width: 100vw;
    height: 7.8vw;
    min-height:9.7;
    position: sticky;
    top:0;
    padding-bottom: -1vw;
    z-index:3;
    border-bottom: 10px white solid;
    font-family:Cabriole;
    font-weight: bold;
}

div#navibar img{
    width: 6vw;
}

div#navibar a{
    Color: white;
    text-decoration: none;
    font-size:1.3vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align: center;
}

a#icon{
    display: flex;
    flex-direction: column;
}

div#logo img{
    width:11.7vw;
}

div#logo {
    float:center;
    z-index:4;
}

img#newlogo:hover{
    width:12.3vw;
}

div#leftside{
    float: left;
    display: flex;
}

div#leftside img:hover{
    width:7vw;
}

div#leftside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}


div#rightside{
    float:right;
    display: flex;
}

div#rightside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}

div#rightside img:hover{
    width:7vw;
}

div#firstthing{
    background-image:url("../media/bantype1.png");
    background-size: cover;
    min-height: 35vh;
    text-align: center;
    padding-top: 8vh;
    border-bottom: 8px solid #F7B6BE;
}

div#firstthing img{
    width: 38vw;
    margin-bottom: -3vh;
}

div#firstthing p{
    font-family: Cream;
    font-size: 1.4vw;
}

div#ribbon1{
    z-index: -3;
    background-color: #72597E;
    min-height: 25vh;
    min-width: 100vw;
    position: absolute;
    top: 94vh;
    left: 0vw;
}

div#content1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25vw;
}

#herecontent {
    position: relative;
    min-height: 75vh;
}

div#picrep{
    position: relative;
    min-width: 27vw;
}

.picsforrep {
    position: absolute;
    top: 3.57vw;
    left: 3vw;
    width:32vw;
    opacity:0;
    transition: opacity 1s ease-out;
}

img#name{
    width: 32vw;
    height: auto;
    top: 55vh;
    left: 10vw;
    position: absolute;
    z-index: 2;
}

div#modalmenu{
    position: relative;
    top: 25vh;
    right: 3vw;
    background-color: #F7B6BE;
    border: 3px solid #72597E;
    border-radius: 25px;
    max-height: 42vh;
    min-width: 40vw;
    font-family: Cream;
    text-align: center;
}

div#modalmenu h3{
    font-weight: bold;
    font-size: 3.2vw;
    Color: #72597E;
    margin-top: 4vh;
    margin-bottom: 0.75vw;
}

div#message{
    background-color: beige;
    border: 1px solid #F7B6BE;
    border-radius: 15px;
    margin-left: 2.3vw;
    min-height: 11vw;
    max-width: 35vw;
    font-size: 1.3vw;
}

button#berry-button1{
    z-index: 3;
    width: 3vw;
    background-color: transparent;
    border: none;
    position: relative;
    top: -24vh;
    left: 57.3vw;
    cursor: pointer;
}

button#berry-button1 img{
    width: 27vw;
}

button#berry-button1 img:hover{
    width: 28vw;
}

img#berry-cancel{
    cursor: pointer;
}

.berry-modal {
    position: sticky;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 0.1vw;
    overflow: auto;
    background-image: url("../media/desktoptry.png");
    background-size: 95.7vw;
}

.berry-modal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.3;
}

div#header1{
    display: flex;
    padding-left: 77vw;
    border-radius:5%;
}

div#header1 img{
    width: 5vw;
}

div#header1 p{
    font-size:1.2vw;
    font-family:'LocalBrewerySans';
}

div#contenthere {
    display: flex;
    gap: 0vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: -3vw;
    padding-top: 2vw;
    padding-bottom: 2.8vw;
    font-family: 'Cream';
}

div#berry-slidebox {
    position: relative;
}

div#contenthere img#slideshow-frame{
    width: 48.7vw;
    height: 33vw;
}

.berry-vids {
    z-index:1;
    position: absolute;
    top: 3.57vw;
    left: 0.65vw;
    border-radius:1%;
    border: 2px #8bd4c4 solid;
    object-fit: cover;
    width:47vw;
    height: 25vw;
    opacity:1;
    transition: opacity 1s ease-out;
}

div#berry-slidebar {
    background-color:beige;
    margin: 2.5vw;
}

.slidebar-content{
    background-image:url("../media/berry-gridbrow.png");
    border-radius: 3%;
    margin: 1vw;
    padding-bottom: 2vw;
    opacity: 0.8;
    z-index:1;
    position: absolute;
    opacity:1;
    transition: opacity 1s ease-out;
    object-fit: cover;
    font-size: 1.2vw;
    margin: 2vw;
}

.slidebar-content img{
    padding-left: 3vw;
    margin-top: -7vw;
    margin-bottom: -3vw;
    width: 27vw;
}

.slidebar-content p{
    font-size: 1.2vw;
    margin: 2vw;
    text-align: justify;
    color: white;
}

div#arrow-buttons{
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 4vw;
    left: 56vw;
}

div#arrow-buttons img#left{
    width: 4vw;
    z-index: 3;
    cursor: pointer;
}
div#arrow-buttons img#right{
    width: 4vw;
    z-index: 3;
    cursor: pointer;
}

div#ribbon2{
    z-index: -3;
    background-color: #F69999;
    min-height: 25vh;
    min-width: 100vw;
    position: absolute;
    top: 180vh;
    left: 0vw;
}

div#content2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18vw;
    margin-top: -16vh;
}

#herecontent2 {
    position: relative;
    min-height: 75vh;
}

div#picrep2{
    position: relative;
    min-width: 27vw;
}

.picsforrep2 {
    position: absolute;
    top: 2vw;
    right: 3vw;
    width:32vw;
    opacity:0;
    transition: opacity 1s ease-out;
}

img#name2{
    width: 32vw;
    height: auto;
    top: 55vh;
    right: -5vw;
    position: absolute;
    z-index: 2;
}

div#modalmenu2{
    position: relative;
    top: 20vh;
    right: -2vw;
    background-color: #96D6BF;
    border: 3px solid #F69999;
    border-radius: 25px;
    max-height: 48.4vh;
    max-width: 40vw;
    font-family: Cream;
    text-align: center;
}

div#modalmenu2 h3{
    font-weight: bold;
    font-size: 2.9vw;
    Color: #b15353;
    margin-top: 4vh;
    margin-bottom: 0.75vw;
}

div#message2{
    background-color: beige;
    border: 1px solid #F7B6BE;
    border-radius: 15px;
    margin-left: 2.3vw;
    min-height: 10vw;
    max-width: 35vw;
    font-size: 1.3vw;
}

button#berry-button2{
    z-index: 3;
    width: 3vw;
    background-color: transparent;
    border: none;
    position: relative;
    top: -22.6vh;
    left: 13.6vw;
    cursor: pointer;
}

button#berry-button2 img{
    width: 27vw;
}

button#berry-button2 img:hover{
    width: 28vw;
}

img#berry-cancel2{
    cursor: pointer;
}

.berry-modal2 {
    position: sticky;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 0.1vw;
    overflow: auto;
    background-image: url("../media/desktoptry2.png");
    background-size: 95.7vw;
}

.berry-modal2::backdrop {
    background: linear-gradient(45deg, purple, pink);
    opacity: 0.3;
}

div#header3{
    display: flex;
    padding-left: 77vw;
    border-radius:5%;
}

div#header3 img{
    width: 5vw;
}

div#header3 p{
    font-size:1.2vw;
    font-family:'LocalBrewerySans';
}

div#contenthere2 {
    display: flex;
    gap: 0vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: -3vw;
    padding-top: 2vw;
    padding-bottom: 2.8vw;
    font-family: 'Cream';
}

div#berry-slidebox2 {
    position: relative;
}

div#contenthere2 img#slideshow-frame2{
    width: 48.7vw;
    height: 33vw;
}

.berry-vids2 {
    z-index:1;
    position: absolute;
    top: 3.57vw;
    left: 0.65vw;
    border-radius:1%;
    border: 2px #8bd4c4 solid;
    object-fit: cover;
    width:47vw;
    height: 25vw;
    opacity:1;
    transition: opacity 1s ease-out;
}

div#berry-slidebar2 {
    background-color:beige;
    margin: 2.5vw;
}

.slidebar-content2{
    background-image:url("../media/berry-gridbrow.png");
    border-radius: 3%;
    margin: 1vw;
    padding-bottom: 2vw;
    opacity: 0.8;
    z-index:1;
    position: absolute;
    opacity:1;
    transition: opacity 1s ease-out;
    object-fit: cover;
    font-size: 1.2vw;
    margin: 2vw;
}

.slidebar-content2 img{
    padding-left: 3vw;
    margin-top: -7vw;
    margin-bottom: -3vw;
    width: 27vw;
}

.slidebar-content2 p{
    font-size: 1.2vw;
    margin: 2vw;
    text-align: justify;
    color: white;
}

div#arrow-buttons2{
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 4vw;
    left: 56vw;
}

div#arrow-buttons2 img#left2{
    width: 4vw;
    z-index: 3;
    cursor: pointer;
}
div#arrow-buttons2 img#right2{
    width: 4vw;
    z-index: 3;
    cursor: pointer;
}

div#footer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 100vw;
    background-color: white;
    height: 25vh;
    justify-content: space-around;
    font-family: Cream;
}

div#logoround{
    background-color:#B32f2f;
    background-size: cover;
    min-width: 15vw;
    text-align: center;
}

div#logoround img{
    margin-top: 1vw;
    width: 10vw;
}

div#quicklinks{
    background-color:#E89292;
    background-size: cover;
    min-width: 35vw;
    padding-left: 1vw;
    Color: white;
}

div#quicklinks a{
    font-family: Cabriole;
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

div#quicklinks a:hover{
    font-size: 1.4vw;
    font-weight: bold;
}

div#quicklinks h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#links{
    display: flex;
    gap: 5vw;
    padding-left: 4vw;
}

div#form{
    background-color:#F7c4c4;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#form p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

div#form span{
    font-family: Cream;
}


div#form a{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
}

div#form a:hover{
    font-size: 1.4vw;
    font-weight: bold;
    Color: white;
    background-color: #Be1111;
    min-width: 3vw;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact{
    background-color: #Fde1e1;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#contact span{
    font-family: Cream;
    font-weight: none;
}

div#contact h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

p#webprog{
    margin-top: -0.50vw;
}
